@import "tailwindcss";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600;700;800&display=swap");

@theme {
  --font-family-jakarta: "Plus Jakarta Sans", sans-serif;
  
  --color-enrollmate-bg-start: #9ACD32;
  --color-enrollmate-bg-end: #7CB342;
  --color-enrollmate-green: #8BC34A;
}